@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic");
header {
  display: block;
  background-color: #313234; }
  header nav:after {
    content: "";
    display: block;
    clear: both; }
  header ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  header li a {
    color: white;
    line-height: 50px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 20px; }
    header li a:hover {
      background-color: #4a4c4f; }

.header-blue {
  color: #00C7E8; }

@media (max-width: 767px) {
  header {
    height: auto; }
    header img {
      margin-top: 10px; }
    header nav ul {
      margin: 15px 15%;
      float: none; }
      header nav ul li {
        display: block;
        margin: 4% 0; }
        header nav ul li a {
          border: 2px solid white; } }
@media (min-width: 768px) {
  header {
    max-height: 50px; }

  header nav ul {
    margin: auto 11.1% auto 0;
    float: right; }
    header nav ul li {
      display: inline-block;
      float: right; }
      header nav ul li a {
        border: none; }

  .logo {
    max-height: 30px;
    max-width: 150px;
    margin: 10px auto 10px 33.3%;
    line-height: 0; } }
.hero {
  background: url("http://i.imgur.com/Ku9joyO.jpg") no-repeat;
  background-size: cover;
  position: relative; }

.slogan {
  color: white;
  line-height: 1.2em;
  padding: 3%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute; }

@media (max-width: 767px) {
  .hero {
    height: 50vh; }

  .slogan {
    width: 60%;
    padding-right: 25%;
    top: 25%;
    right: 0; } }
@media (min-width: 768px) {
  .hero {
    height: 432px; }

  .slogan {
    width: 45%;
    padding: 3% 22% 3% 3%;
    top: 30%;
    right: 0; } }
.icon {
  display: block;
  border: #313332 solid 0;
  border-radius: 25px;
  line-height: 150px;
  font-size: 100px;
  color: white;
  width: 150px;
  margin: auto; }

.icon--black {
  background-color: #313332; }

.icon--blue {
  background-color: #00C7E8; }

@media (max-width: 767px) {
  .gallery-icons i {
    opacity: 0.5; } }
.gallery [class*="col-m"] {
  position: relative;
  line-height: 0; }

.gallery-picture {
  height: 133px; }

.gallery-icons {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 24px;
  padding: 54px;
  color: black; }

.gallery-icons i {
  background-color: white;
  border: solid 0;
  border-radius: 25%;
  padding: 5px; }

.rotation {
  transform: rotate(90deg); }

@media (min-width: 768px) {
  .gallery-picture {
    width: 100%; }

  .gallery-icons {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0; }

  .gallery-icons:hover {
    opacity: 1; } }
figure {
  width: 100%;
  margin: 0;
  padding: 0; }

figcaption {
  margin-top: 5px; }

.employees img {
  height: 200px;
  width: 200px;
  border: solid 0;
  border-radius: 50%; }

.awesome {
  background-color: rgba(128, 128, 128, 0.5);
  color: white; }

.awesome-line-height {
  line-height: 0; }

.awesome-top-padding {
  padding-top: 5%; }

.awesome-picture {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 400px; }

.awesome h3, .awesome p {
  text-align: left; }

.awesome-italic {
  font-style: italic; }

.numbers h4, .footer-group h4 {
  text-transform: uppercase;
  font-weight: bold; }

.numbers p {
  font-size: 1em;
  color: #00C7E8; }

.numbers h3 {
  font-size: 3em; }

footer {
  color: white; }

.footer-group {
  background-color: #313332; }
  .footer-group h4 {
    font-size: 1.8em; }
  .footer-group P {
    font-size: 1.2em;
    text-align: left; }
  .footer-group span {
    display: flex;
    align-items: center; }
    .footer-group span hr {
      display: inline-block;
      width: 25%;
      margin-right: 0; }

.footer-icons {
  font-size: 1.6em;
  color: white;
  margin: 20px 0; }

.footer-icons--style {
  background-color: #00C7E8;
  line-height: 2em;
  width: 90%; }

.footer-icons--style:hover {
  background-color: white;
  color: #00C7E8; }

.footer-strap {
  background-color: #252726;
  height: 100px;
  line-height: 100px; }
  .footer-strap p {
    text-align: center;
    font-size: 1.2em; }

@media (max-width: 767px) {
  .footer-group h4 {
    text-align: right;
    padding: 5px 10px; } }
@media (min-width: 768px) {
  .footer-group h4 {
    text-align: left; } }
body, p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  font-family: "Open Sans", "Arial", sans-serif; }

h1, h2, h3, h4 {
  text-transform: uppercase;
  line-height: normal; }

.container {
  text-align: center; }

@media (max-width: 767px) {
  .left-right-space, .awesome, .footer-group {
    padding: 0 6%; } }
@media (min-width: 768px) {
  .padding {
    padding-top: 5%;
    padding-bottom: 5%; }

  .padding--midle {
    padding-left: 4.16%;
    padding-right: 4.16%; }

  .padding--left {
    padding-left: 8.33%; }

  .padding-right--left {
    padding-left: 6.24%;
    padding-right: 2.08%; }

  .padding-left--right {
    padding-left: 2.08%;
    padding-right: 6.24%; }

  .padding--right {
    padding-right: 8.33%; } }

/*# sourceMappingURL=style.css.map */
